.categoriesCarousel .category-grid {
  margin-bottom: 0;
}
.categoriesCarousel .category-grid a {
  display: block;
}
.categoriesCarousel .category-grid img {
  display: inline-block;
}
.categoriesCarousel.no-space .category-grid {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 480px) {
  .categoriesCarousel {
    width: auto !important;
    margin-left: -10px;
    margin-right: -10px;
  }
}
