/*Blog Columns*/
article.blog-post.col-md-4 .zoom .btn_group a,
article.post-grid.col-md-4 .zoom .btn_group a {
  padding: 11px 11px;
}
article.blog-post.col-md-4.format-quote .quote-content,
article.post-grid.col-md-4.format-quote .quote-content {
  zoom: 0.7;
  line-height: 24px;
}
article.blog-post.col-md-3.format-quote .quote-content,
article.post-grid.col-md-3.format-quote .quote-content {
  zoom: 0.85;
}
article.blog-post.col-md-3 .zoom .btn_group,
article.post-grid.col-md-3 .zoom .btn_group {
  margin-top: -50px;
}
.swiper-wrapper article.blog-post.col-md-4.format-quote .quote-content,
.swiper-wrapper article.post-grid.col-md-4.format-quote .quote-content,
.swiper-wrapper article.blog-post.col-md-3.format-quote .quote-content,
.swiper-wrapper article.post-grid.col-md-3.format-quote .quote-content {
  zoom: 1;
}
