.et_b_header-menu .secondary-menu-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
}
.et_b_header-menu .secondary-menu-wrapper .secondary-menu-toggle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  line-height: 1;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.et_b_header-menu .secondary-menu-wrapper .menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 18rem;
  text-align: start !important;
  background-color: #fff;
  border: 1px solid var(--et_dark-color);
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-animation: slideOutEffect;
          animation: slideOutEffect;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li {
  padding: 0;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li > a i {
  margin-right: 5px;
  display: inline-block;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a {
  position: relative;
  text-align: start;
  font-size: calc(var(--content-zoom) * .9);
  color: var(--et_active-color);
  padding-left: 0;
  padding-right: 0;
  width: auto;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a:after {
  content: '';
  height: 2px;
  width: 0;
  right: 0;
  position: absolute;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  bottom: 0;
  background: currentColor;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a:hover {
  color: var(--et_active-color);
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a i {
  margin-right: 0;
  margin-left: 5px;
  font-size: 62%;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li:not(.hidden) + .show-more:not([data-reverse]),
.et_b_header-menu .secondary-menu-wrapper .menu > li:not(.hidden) + .show-more[data-reverse] a:first-child,
.et_b_header-menu .secondary-menu-wrapper .menu > li:not(.is-shown) + .show-more[data-reverse] a:last-child {
  display: none !important;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li:last-child > a {
  border-bottom: none;
}
.et_b_header-menu .secondary-menu-wrapper .menu .nav-sublist:before,
.et_b_header-menu .secondary-menu-wrapper .menu .nav-sublist-dropdown:before,
.et_b_header-menu .secondary-menu-wrapper .menu .nav-sublist:after,
.et_b_header-menu .secondary-menu-wrapper .menu .nav-sublist-dropdown:after {
  content: '';
  display: table;
  clear: both;
}
.et_b_header-menu .secondary-menu-wrapper .menu > .item-design-mega-menu {
  position: static;
}
.et_b_header-menu .secondary-menu-wrapper .menu > .item-design-mega-menu .nav-sublist-dropdown {
  top: 0;
  -webkit-transform: none;
          transform: none;
}
.et_b_header-menu .secondary-menu-wrapper .menu > .item-design-mega-menu .nav-sublist-dropdown:not(.menu-static-block) {
  min-height: 100%;
}
.et_b_header-menu .secondary-menu-wrapper .menu li {
  list-style: none;
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.et_b_header-menu .secondary-menu-wrapper .menu li > a {
  color: var(--et_dark-color);
  font-size: calc( 1.14  * var(--content-zoom, 100%));
  width: 100%;
  padding-right: 20px;
  position: relative;
  float: left;
  text-transform: none;
}
.et_b_header-menu .secondary-menu-wrapper .menu li > a:hover {
  color: var(--et_font-color);
}
.et_b_header-menu .secondary-menu-wrapper .menu li .item-design2-image-no-borders {
  margin: -2.14em 0 0 0 !important;
  border: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.et_b_header-menu .secondary-menu-wrapper .menu li .item-design2-image-no-borders .item-link {
  font-size: 0;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.et_b_header-menu .secondary-menu-wrapper .menu li.menu-item-has-children > a:before {
  content: "\e904";
  font-family: 'xstore-icons';
  font-size: 62%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
}
.et_b_header-menu .secondary-menu-wrapper .menu li.menu-item-has-children > .menu-static-block {
  padding: 0;
}
.et_b_header-menu .secondary-menu-wrapper .menu li .sidebar-widget {
  margin-bottom: 0 !important;
}
.et_b_header-menu .secondary-menu-wrapper ul.menu {
  padding-left: 0;
  padding-right: 0;
}
.et_b_header-menu .secondary-menu-wrapper .menu-widgets .widget-title {
  text-transform: capitalize !important;
}
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li {
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li .product-list-image,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li .product-list-image,
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li .product-title,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li .product-title,
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li .product-title a,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li .product-title a {
  padding: 0;
}
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li .product-title a,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li .product-title a {
  line-height: 1.3;
}
.et_b_header-menu .secondary-menu-wrapper .etheme_widget_products li:last-child,
.et_b_header-menu .secondary-menu-wrapper .product_list_widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100% !important;
  margin-left: 0 !important;
  border-color: var(--et_main-color);
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown .menu-item-has-children > a {
  background-color: transparent;
  text-align: start;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown .menu-item-has-children > a:before {
  display: none;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown .menu-item-has-children.item-level-1 > a:hover {
  background-color: transparent !important;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown .menu-item-has-children.item-level-1.with-border {
  margin-bottom: 15px;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown .menu-item-has-children.item-level-1.with-border .nav-sublist {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown ul > li > a {
  background-color: transparent !important;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown .nav-sublist-dropdown > .container > ul .nav-sublist-dropdown .menu-item-has-children.item-level-1:last-child {
  border-bottom: none;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown .nav-sublist-dropdown ul > li .nav-sublist ul {
  width: 18rem;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown .nav-sublist-dropdown ul > li .nav-sublist ul:before {
  content: "";
  position: absolute;
  left: -30px;
  width: 30px;
  height: 100%;
  top: 0;
  display: block;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown .menu-item-has-children > a {
  position: relative !important;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown.menu-item-has-children {
  position: relative;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown .menu-widgets {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown .menu-widgets .banner {
  visibility: visible;
  pointer-events: auto;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul {
  padding: 2.14em 2.14em 0 2.14em;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul > li {
  clear: none !important;
  margin-bottom: 1em;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul > li.with-border {
  margin-bottom: 15px;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul > li.with-border .nav-sublist {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist-dropdown > .container > ul .item-level-1 > a {
  padding: 0;
  margin-bottom: 15px;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .nav-sublist ul > li > a {
  padding: 9px 9px 9px 0;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .ibox-block .ibox-text li a {
  color: var(--et_main-color);
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu .ibox-block .ibox-text li a:hover {
  color: var(--et_dark-color);
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu.columns-3 .nav-sublist-dropdown {
  width: 670px;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu.columns-4 .nav-sublist-dropdown,
.et_b_header-menu .secondary-menu-wrapper .item-design-mega-menu.columns-5 .nav-sublist-dropdown {
  width: 800px;
}
.secondary-title {
  white-space: nowrap;
  padding: 1.1em 30px;
  cursor: pointer;
  color: var(--et_dark-color);
  border-right: 1px solid var(--et_border-color);
  border-left: 1px solid var(--et_border-color);
  width: 18rem;
}
.secondary-title:after {
  content: "\e905";
  font-family: 'xstore-icons';
  font-size: 70%;
  margin-left: auto;
  right: 3.1em;
}
.et-secondary-visibility-opened.et-secondary-on-home .secondary-menu-wrapper .menu {
  display: none;
  -webkit-animation: slideOutEffect;
          animation: slideOutEffect;
}
.et-secondary-shown .secondary-menu-wrapper .menu,
.et-secondary-visibility-opened .secondary-menu-wrapper .menu,
.et-secondary-visibility-on_hover .secondary-menu-wrapper:hover .menu,
.et-secondary-visibility-opened.et-secondary-on-home .secondary-menu-wrapper:hover .menu,
.et-secondary-visibility-opened.et-secondary-on-home.home .secondary-menu-wrapper .menu {
  display: block;
  z-index: 1001;
  -webkit-animation-name: et-dropdown;
          animation-name: et-dropdown;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.et-secondary-shown .search-now-opened .secondary-menu-wrapper .menu,
.et-secondary-visibility-opened .search-now-opened .secondary-menu-wrapper .menu {
  z-index: 9;
}
.et-secondary-darkerning-on.et-secondary-shown {
  position: relative;
}
.et-secondary-darkerning-on:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  display: none;
  -webkit-animation: slideOut;
          animation: slideOut;
}
.et-secondary-darkerning-on.admin-bar .demo_store {
  top: 0;
}
.et-secondary-darkerning-on.et-secondary-shown:before {
  display: block;
  z-index: 1002;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.et-secondary-darkerning-on.et-secondary-shown .page-wrapper {
  z-index: auto;
}
.et-secondary-darkerning-on.et-secondary-shown .header-wrapper {
  z-index: 1003;
}
.et_b_header-menu .secondary-menu-wrapper {
  margin-right: 0;
  width: 100%;
}
.et_b_header-menu .secondary-menu-wrapper .secondary-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1;
  font-size: var(--content-zoom, 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.et-secondary-visibility-opened .et_b_header-menu .secondary-menu-wrapper .secondary-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.et_column > .et_b_header-menu .secondary-menu-wrapper .secondary-title {
  width: auto;
}
.et-secondary-visibility-opened .sticky-on .secondary-menu-wrapper .menu {
  display: none !important;
}
.et_b_header-menu .secondary-menu-wrapper .secondary-menu-toggle {
  margin-right: 0;
  margin-left: 7px;
}
.et_b_header-menu .secondary-menu-wrapper .menu {
  left: auto;
  right: 0;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li > a i {
  margin-right: 0;
  margin-left: 5px;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a:after {
  right: auto;
  left: 0;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a:hover:after {
  right: 0;
  left: auto;
}
.et_b_header-menu .secondary-menu-wrapper .menu > li.show-more a i {
  margin-left: 0;
  margin-right: 5px;
}
.et_b_header-menu .secondary-menu-wrapper .menu li {
  float: right;
}
.et_b_header-menu .secondary-menu-wrapper .menu li > a {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}
.et_b_header-menu .secondary-menu-wrapper .menu li.menu-item-has-children > a:before {
  right: auto;
  left: 0;
  content: "\e902";
}
.et_b_header-menu .secondary-menu-wrapper .nav-sublist-dropdown {
  left: auto !important;
  right: 100% !important;
  margin-right: 0 !important;
}
.et_b_header-menu .secondary-menu-wrapper .item-design-dropdown .nav-sublist-dropdown ul > li .nav-sublist ul:before {
  left: auto;
  right: -30px;
}
.secondary-title:after {
  margin-left: 0;
  margin-right: auto;
  right: auto;
  left: 3.1em;
}
.et-secondary-darkerning-on:before {
  left: auto;
  right: 0;
}
.et_b_header-menu .secondary-menu-wrapper {
  margin-left: 0;
  margin-right: auto;
}
