.et-twitter-wpb li {
  list-style: none;
  padding-bottom: 15px;
}
.et-twitter-wpb.et-twitter-grid li {
  display: inline-block;
  width: 33.33%;
  float: left;
  padding-right: 15px;
}
.et-twitter-wpb .et-tweets {
  padding-left: 0;
}
