/* xstore-core plugin-off styles */
@media only screen and (min-width: 1200px) {
  .container,
  div.container,
  .et-container {
    max-width: 1170px;
  }
}
.active-color,
.cart-widget-products a:hover,
.price ins .amount,
.cart ins .amount,
.product-price ins .amount,
.tabs .tab-title.opened,
.tabs .tab-title.opened:hover,
.tabs .tab-title:before,
.post-comments-count:hover,
.meta-post a[rel=author]:hover,
.read-more,
span.active,
.active-link,
.active-link:hover,
ul.active > li:before,
.author-info .author-link,
.comment-reply-link,
.wpb-js-composer .vc_tta-container .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a,
.meta-post-timeline .time-mon,
.portfolio-filters .active,
.portfolio-item .firstLetter,
.text-color-dark .category-grid .categories-mask span,
.team-member .member-details h5,
.team-member .member-content .et-follow-buttons a,
.price_slider_wrapper .button:hover,
.etheme_widget_brands li a strong,
.sidebar-widget ul li.current-cat > a,
.sidebar-widget ul li > ul.children li.current-cat > a,
table.cart .product-details .product-title:hover,
.product-content .yith-wcwl-add-to-wishlist a:hover,
.product-content .compare:hover,
.content-product .et-wishlist-holder .yith-wcwl-wishlistexistsbrowse a,
.content-product .et-wishlist-holder .yith-wcwl-wishlistaddedbrowse a,
.woocommerce-MyAccount-navigation li.is-active a,
.sb-infinite-scroll-load-more:not(.finished):hover,
.mc4wp-alert.mc4wp-error,
.et-tabs-wrapper.title-hover .tabs-nav li a span,
.fullscreen-menu .menu > li > a:hover,
.slide-view-timeline2 .meta-post-timeline .time-day,
article.content-timeline2 .meta-post-timeline .time-day,
article.content-timeline .meta-post-timeline .time-day,
.content-grid2 .meta-post-timeline .time-day,
.menu-social-icons li a:hover,
.product-view-booking .content-product .button.compare:hover:before,
.et-menu-list .item-title-holder a:hover,
.mfp-close:hover:before,
#cboxClose:hover:before,
.posts-nav-btn:hover .button {
  color: var(--et_active-color, #a4004f);
}
.tagcloud a:hover,
.button.active,
.btn.active,
.btn.active:hover,
.btn-advanced,
.btn-underline:after,
input[type=submit].btn-advanced,
.button:hover,
.btn:hover,
input[type=submit]:hover,
.price_slider_wrapper .ui-slider .ui-slider-handle,
.price_slider_wrapper .ui-slider-range,
.woocommerce-pagination ul li .current,
.woocommerce-pagination ul li a:hover,
.etheme-pagination .current,
.etheme-pagination a:hover,
.dokan-pagination-container li a:hover,
.dokan-pagination-container .dokan-pagination li.active a,
.wpb_tabs .wpb_tabs_nav li a.opened span:after,
table.shop_table .remove-item:hover,
.active-link:before,
.block-title .label,
.form-row.place-order .button,
.wp-picture .post-categories,
.portfolio-filters li a:after,
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a:after,
.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading a span:after,
.global-post-template-large .post-categories,
.global-post-template-large2 .post-categories,
.portfolio-item .portfolio-image,
.item-design-posts-subcategories .posts-content .post-preview-thumbnail .post-category,
.ibox-block .ibox-symbol i,
ol.active > li:before,
span.dropcap.dark,
.product-information .yith-wcwl-add-to-wishlist a:hover:before,
.product-information .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before,
.product-information .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.wp-picture .blog-mask:before,
.flexslider .flex-direction-nav a:hover,
.tagcloud a:hover,
.footer.text-color-light .tagcloud a:hover,
.widget_search button:hover,
.openswatch_widget_layered_nav ul li.chosen,
.openswatch_widget_layered_nav ul li:hover,
ul.swatch li.selected,
.et-products-navigation > div:hover,
.et-looks .et-looks-nav li.active a,
.et-looks .et-looks-nav li:hover a,
.read-more:before,
.team-member .member-image:before,
#cookie-notice .button,
#cookie-notice .button.bootstrap,
#cookie-notice .button.wp-default,
#cookie-notice .button.wp-default:hover,
div.pp_default .pp_content_container a.pp_next:hover,
div.pp_default .pp_content_container a.pp_previous:hover,
.content-framed .content-article .read-more,
.l2d-body footer .coupon-code .cc-wrapper .closed-text,
.et-tabs-wrapper.title-hover .tabs-nav li:hover a span:hover,
.et-tabs-wrapper.title-hover .tabs-nav li.et-opened a span:hover,
.et-tabs-wrapper.title-hover .tabs-nav .delimiter,
.et-mailchimp:not(.dark) input[type=submit],
.team-member.member-type-2:hover .content-section,
.slide-view-timeline2:hover .meta-post-timeline,
article.content-timeline2:hover .meta-post-timeline,
article.content-timeline:hover .meta-post-timeline,
.content-grid2:hover .meta-post-timeline,
.content-grid2:hover .meta-post-timeline,
.btn-view-wishlist,
.btn-view-compare,
.btn-checkout {
  background-color: var(--et_active-color, #a4004f);
}
