/*-------------General Tabs---------------*/
.et-advance-tabs {
  display: block;
}
.et-advance-tabs .et-tabs-nav > ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.et-tabs-horizontal .et-tabs-nav ul {
  padding: 0;
  margin: 0 -10px;
}
.et-advance-tabs .et-tabs-nav > ul li {
  margin: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.et-advance-tabs .et-tabs-nav > ul li img,
.et-advance-tabs .et-tabs-nav > ul li svg {
  width: 1rem;
  fill: currentColor;
}
.et-advance-tabs .et-tabs-nav > ul li svg {
  height: 1em;
}
.et-advance-tabs .et-tab-top-icon .et-tab-nav .et-tab-title:not(:only-child) {
  margin-top: 7px;
}
.et-advance-tabs .et-tab-inline-icon .et-tab-nav .et-tab-title:not(:only-child) {
  margin-left: 7px;
}
.et-advance-tabs .et-tabs-nav > ul .et-tab-nav {
  line-height: 1;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 10px 0;
  margin: 0 15px;
}
.et-advance-tabs .et-tabs-nav > ul .et-tab-nav:hover,
.et-advance-tabs .et-tabs-nav > ul .et-tab-nav.active,
.et-advance-tabs .et-tabs-nav > ul .et-tab-nav.active-default {
  color: #A4004F;
}
.et-advance-tabs.active-caret-on .et-tabs-nav > ul li.active:after {
  display: none;
}
.et-advance-tabs .et-tabs-nav > ul li.active:after {
  display: block;
}
.et-advance-tabs.horizontal-style-1 .et-tabs-nav > ul .et-tab-nav:after,
.et-advance-tabs.horizontal-style-2 .et-tabs-nav > ul .et-tab-nav:after {
  content: "";
  height: 2px;
  background-color: #A4004F;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  width: 0%;
}
.et-advance-tabs.horizontal-style-1 .et-tabs-nav > ul .et-tab-nav:after {
  bottom: 0;
}
.et-advance-tabs.horizontal-style-2 .et-tabs-nav > ul .et-tab-nav:after {
  top: 0;
}
.et-advance-tabs.horizontal-style-1 .et-tabs-nav > ul .et-tab-nav.active:after,
.et-advance-tabs.horizontal-style-1 .et-tabs-nav > ul .et-tab-nav:hover:after,
.et-advance-tabs.horizontal-style-2 .et-tabs-nav > ul .et-tab-nav.active:after,
.et-advance-tabs.horizontal-style-2 .et-tabs-nav > ul .et-tab-nav:hover:after {
  opacity: 1;
  width: 100%;
}
.et-tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.et-advance-tabs .et-tabs-content > div {
  display: none;
  opacity: 0;
}
.et-advance-tabs .et-tabs-content > div.active,
.et-advance-tabs .et-tabs-content > div.active-default {
  display: block;
  width: 100%;
  padding: 1em;
  opacity: 1;
  -webkit-animation: fadeIn linear 0.3s;
  animation: fadeIn linear 0.3s;
}
/*style 3*/
.et-advance-tabs.horizontal-style-3 .et-tabs-nav > ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .et-advance-tabs.horizontal-style-3 .et-tabs-nav > ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.et-advance-tabs.horizontal-style-3 .et-tabs-nav > ul li:last-child {
  border-right: 1px solid #E1E1E1;
}
.et-advance-tabs.horizontal-style-3 .et-tabs-nav > ul .et-tab-nav {
  border-left: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
}
.et-advance-tabs.horizontal-style-3 .et-tabs-content {
  border: 1px solid #E1E1E1;
}
/*style 5 */
.et-advance-tabs.horizontal-style-4 .et-tabs-nav ul .et-tab-nav {
  background-color: #ffffff;
  border-radius: 90px;
  padding-right: 15px;
  padding-left: 15px;
}
.et-advance-tabs.horizontal-style-4 .et-tabs-nav ul .active,
.et-advance-tabs.horizontal-style-4 .et-tabs-nav ul .active-default {
  background-color: #A4004F;
  color: #FFFFFF;
}
/*style 6*/
.et-advance-tabs.horizontal-style-5 .et-tabs-nav ul {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 0 7px 20px -12px grey;
          box-shadow: 0 7px 20px -12px grey;
}
@media only screen and (max-width: 767px) {
  .et-advance-tabs.horizontal-style-5 .et-tabs-nav ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.et-advance-tabs.horizontal-style-5 .et-tabs-nav ul .et-tab-nav {
  background-color: #ffffff;
  border-radius: 90px;
}
.et-advance-tabs.horizontal-style-5 .et-tabs-nav ul .et-tab-nav.active,
.et-advance-tabs.horizontal-style-5 .et-tabs-nav ul .et-tab-nav:hover,
.et-advance-tabs.horizontal-style-5 .et-tabs-nav ul .et-tab-nav.active-default {
  opacity: 1;
}
.et-advance-tabs.horizontal-style-5 .et-tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*--- Inline Icon ---*/
.et-tab-inline-icon .et-tab-nav a .fa {
  margin-right: 10px;
}
.et-tab-top-icon .et-tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.et-tab-top-icon .et-tab-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.et-tab-top-icon .et-tab-nav .fa,
.et-tab-top-icon .et-tab-nav .et-tab-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  line-height: 1;
}
.et-tab-top-icon .et-tab-nav a .et-tab-title {
  margin-top: 10px;
}
/*--- Vertical Tabs ---*/
.et-advance-tabs.et-tabs-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.et-advance-tabs.et-tabs-vertical .et-tabs-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.et-advance-tabs.et-tabs-vertical .et-tabs-nav > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-left: 0px;
}
.et-advance-tabs.et-tabs-vertical .et-tabs-nav > ul > li {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.et-advance-tabs.et-tabs-vertical .et-tabs-nav > ul li::after {
  bottom: auto !important;
  right: -10px;
  top: calc(50% - 10px);
  left: auto !important;
}
.et-advance-tabs .et-tabs-nav > .et-tabs-mob-nav {
  display: none;
  width: 100%;
  height: 3.642rem;
  line-height: 3.642rem;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .et-advance-tabs.horizontal-style-4 .et-tabs-nav > ul .et-tab-nav,
  .et-advance-tabs.horizontal-style-1 .et-tabs-nav > ul .et-tab-nav {
    margin-bottom: 20px;
  }
  .et-advance-tabs.horizontal-style-2 .et-tabs-nav > ul .et-tab-nav {
    margin-top: 20px;
  }
  .et-advance-tabs .et-tabs-nav > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
  }
  .et-advance-tabs .et-tabs-nav > ul .et-tab-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .responsive-vertical-layout.et-advance-tabs .et-tabs-nav > ul .et-tab-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .et-advance-tabs.et-tabs-vertical {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .et-advance-tabs.et-tabs-vertical div.et-tabs-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .et-advance-tabs.et-tabs-vertical ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .et-advance-tabs.et-tabs-vertical ul .et-tab-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .et-advance-tabs .et-tabs-nav > ul:not(:only-child) {
    display: none;
  }
  .et-advance-tabs .et-tabs-nav > .et-tabs-mob-nav {
    display: block;
  }
}
/*style 1 */
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li {
  cursor: pointer;
  border-top: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  margin: 0;
  padding: 10px 297px 12px 26px;
  position: relative;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li:last-child {
  border-bottom: 1px solid #E1E1E1;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li span {
  font-size: 14px;
}
/*.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li.active span {*/
/*    color: #A4004F;*/
/*}*/
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav > ul {
  border-right: 1px solid #E1E1E1;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li:after {
  content: "";
  background-color: #A4004F;
  position: absolute;
  width: 3px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  height: 0%;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav > ul li.active:hover:after,
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav > ul li.active:after {
  opacity: 1;
  height: 100%;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav ul li.active-default:after {
  opacity: 1;
  height: 100%;
  width: 3px !important;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-1 .et-tabs-nav > ul li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*style 2*/
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 297px 12px 26px;
  font-size: 14px;
  border-radius: 4px;
  color: #888888;
  background-color: #FAFAFA;
  margin: 0 0 28px 0;
  cursor: pointer;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #A4004F;
  color: #FFFFFF;
}
/*.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active, .et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active span, .et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active-default span, .et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active-default {*/
/*    transition: all 0.3s;*/
/*    background-color: #A4004F;*/
/*    color: #FFFFFF;*/
/*}*/
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul span {
  padding-left: 3px;
}
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active .et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active-default span,
.et-advance-tabs.et-tabs-vertical.vertical-style-2 .et-tabs-nav ul .active-default {
  -webkit-box-shadow: 0 9px 20px -8px grey;
          box-shadow: 0 9px 20px -8px grey;
}
.et-tabs-nav .swiper-button-prev.swiper-et-arrow-left,
.et-tabs-nav .swiper-button-prev.swiper-et-arrow-right {
  font-size: 15px;
}
.et-advance-tabs .et-tabs-nav ul .et-content-title {
  font-size: 24px;
  font-weight: bold;
  -webkit-box-ordinal-group: -99;
      -ms-flex-order: -100;
          order: -100;
}
.et-tabs-nav .center .et-content-title {
  position: absolute;
  left: 0;
}
.et-advance-tabs .et-tabs-nav .flex-end .et-content-title {
  margin-right: auto;
}
/*Arrow in nav*/
.et-advance-tabs .et-tabs-nav > ul .navbar:after {
  display: none;
}
.et-advance-tabs .et-tabs-nav > ul .navbar {
  left: auto;
  right: calc(var(--arrow-size, 50px) + var(--arrow-space, 10px) + 10px);
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
  z-index: auto;
  margin: 0;
}
.et-advance-tabs .et-tabs-nav > ul .navbar + .navbar {
  right: 10px;
}
.et-advance-tabs .et-tabs-nav > ul.flex-end .navbar {
  position: static;
}
/* list */
.et-advance-tabs .et-tabs-nav > ul.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.et-advance-tabs .et-tabs-nav > ul.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.et-advance-tabs .et-tabs-nav > ul.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .et-advance-product-tabs.horizontal-style-4 .et-tabs-nav .et-content-title {
    margin-bottom: 10px;
  }
  .et-advance-product-tabs .et-tabs-nav .center .et-content-title,
  .et-advance-product-tabs .et-tabs-nav .flex-end .et-content-title {
    position: relative !important;
    margin-left: 0 !important;
    left: 0 !important;
  }
  .et-advance-tabs .et-tabs-nav > ul .navbar,
  .et-advance-tabs .et-tabs-nav > ul.flex-end .navbar {
    position: absolute;
    top: 0;
  }
}
