.etheme-media-carousel-item {
  line-height: 0;
}
.etheme-media-carousel-item img {
  margin-left: auto;
  margin-right: auto;
}
.etheme-media-carousel-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 1.4;
  pointer-events: none;
}
.etheme-media-carousel-info > * {
  color: #fff;
  text-transform: none;
}
.etheme-media-carousel .swiper-slide:not(:hover) .etheme-media-carousel-info {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.etheme-media-carousel .elementor-custom-embed-play {
  color: #fff;
}
.etheme-media-carousel-thumbs-wrapper {
  margin-top: 20px;
}
.etheme-media-carousel-thumbs-wrapper .swiper-slide {
  opacity: 0.6;
}
.etheme-media-carousel-thumbs-wrapper .swiper-slide-thumb-active {
  opacity: 1;
}
