.etheme-modal-popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
.etheme-modal-popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  position: relative;
  width: 50vw;
  height: 60vh;
  background: #fff;
  z-index: 999;
  padding: 25px;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.etheme-modal-popup-content-wrapper {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.elementor-edit-area .etheme-modal-popup-content {
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.etheme-modal-popup-inner {
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
}
.etheme-modal-popup-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000;
  background-color: #fff;
  position: absolute;
  top: var(--icon-offset, 5px);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 1;
}
.etheme-modal-popup-close.inside {
  right: var(--icon-offset, 5px);
}
.etheme-modal-popup-close.outside {
  left: calc(100% + var(--icon-offset, 5px));
}
