.etheme-gallery-item-details span {
  display: block;
  width: 100%;
}
.etheme-gallery-item-details-inside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  pointer-events: none;
  border-radius: inherit;
  z-index: 1;
}
.etheme-gallery-item-details-inside > * {
  color: #fff;
}
.etheme-gallery-item-details-inside > *:last-child {
  margin-bottom: 0;
}
.etheme-gallery-item:not(:hover) .etheme-gallery-item-overlay:after {
  opacity: 0;
  visibility: hidden;
}
.etheme-gallery-item:not(:hover) .etheme-gallery-item-details-inside {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.etheme-gallery-item-overlay,
.etheme-gallery-image {
  display: block;
  position: relative;
}
.etheme-gallery-item-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.etheme-gallery.e-gallery-justified .etheme-gallery-item-overlay {
  height: 100%;
}
.etheme-gallery-lightbox-icon {
  line-height: 1.4;
  margin-bottom: 0;
}
.etheme-gallery-item-title,
.etheme-gallery-item-caption,
.etheme-gallery-item-date {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
  margin-bottom: 0;
  display: block;
  width: 100%;
}
.etheme-gallery-item-details:not(.etheme-gallery-item-details-inside) {
  display: inline-grid;
  width: 100%;
  margin-top: 12px;
}
.etheme-gallery img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}
.etheme-gallery:not(.active):not(:only-child) {
  display: none;
}
.etheme-gallery-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 calc(var(--tabs-spacing, 15px) *-1) 30px;
}
.etheme-gallery-tab {
  position: relative;
  padding: 10px 0;
  margin: 0 var(--tabs-spacing, 15px);
  cursor: pointer;
}
.etheme-gallery-tab.active {
  color: var(--et_active-color);
}
.etheme-gallery-tab:after {
  content: '';
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.etheme-gallery-tab:hover:after,
.etheme-gallery-tab.active:after {
  left: 0;
  right: auto;
  width: 100%;
}
