.elementor-element-edit-mode .etheme-map:empty {
  min-height: 200px;
  background: #fafafa;
  color: #000;
}
.elementor-element-edit-mode .etheme-map:empty:before {
  content: 'XStore Google Map';
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
