.etheme-timeline-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: var(--cols-gap, 40px);
}
.etheme-timeline-wrapper[data-step-position=top] .etheme-timeline-step {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: var(--offset-connector-line-h, 20px);
}
.etheme-timeline-wrapper[data-step-position=top] .etheme-timeline-date-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: calc(var(--offset-connector-line-h, 20px) + (var(--step-proportion,20px) / 2));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.etheme-timeline-wrapper[data-step-position=center] {
  --step-position-top: 50%;
  --step-transform-Y: -50%;
}
.etheme-timeline-wrapper[data-step-position=center] .etheme-timeline-step,
.etheme-timeline-wrapper[data-step-position=center] .etheme-timeline-date-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
}
.etheme-timeline-wrapper[data-step-position=center] .etheme-timeline-content-with-arrow:after {
  top: calc(50% - (var(--arrow-size, 14px) / 2));
}
.etheme-timeline-wrapper[data-step-position=bottom] {
  --step-position-top: auto;
  --step-position-bottom: 0;
}
.etheme-timeline-wrapper[data-step-position=bottom] .etheme-timeline-step {
  top: var(--step-position-top, 0);
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: var(--offset-connector-line-h, 20px);
}
.etheme-timeline-wrapper[data-step-position=bottom] .etheme-timeline-date-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: calc(var(--offset-connector-line-h, 20px) + (var(--step-proportion,20px) / 2));
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.etheme-timeline-wrapper[data-step-position=bottom] .etheme-timeline-content-with-arrow:after {
  top: auto;
  bottom: calc(var(--offset-connector-line-h,20px) + (var(--step-proportion,20px)/ 2) - var(--arrow-size,14px)/2);
}
.etheme-timeline-wrapper[data-layout=right] {
  grid-template-columns: 1fr auto;
}
.etheme-timeline-wrapper[data-layout=right] .etheme-timeline-connector {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.etheme-timeline-wrapper[data-layout=right] .etheme-timeline-dates-items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.etheme-timeline-wrapper[data-layout=right] .etheme-timeline-step {
  position: absolute;
  top: var(--step-position-top, 0);
  bottom: var(--step-position-bottom, auto);
  right: calc(var(--cols-gap,40px) * -1);
  -webkit-transform: translateX(50%) translateY(var(--step-transform-Y, 0));
          transform: translateX(50%) translateY(var(--step-transform-Y, 0));
}
.etheme-timeline-wrapper[data-layout=right] .etheme-timeline-content-with-arrow:after {
  left: calc(100% - (var(--arrow-size, 14px) / 2));
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.etheme-timeline-wrapper[data-layout=left] {
  grid-template-columns: auto 1fr;
}
.etheme-timeline-wrapper[data-layout=left] .etheme-timeline-connector {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.etheme-timeline-wrapper[data-layout=left] .etheme-timeline-dates-items {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
.etheme-timeline-wrapper[data-layout=left] .etheme-timeline-step {
  position: absolute;
  top: var(--step-position-top, 0);
  bottom: var(--step-position-bottom, auto);
  left: calc(var(--cols-gap,40px) * -1);
  -webkit-transform: translateX(-50%) translateY(var(--step-transform-Y, 0));
          transform: translateX(-50%) translateY(var(--step-transform-Y, 0));
}
@media only screen and (min-width: 768px) {
  .etheme-timeline-wrapper[data-layout=center] {
    --item-columns: 1fr auto 1fr;
  }
  .etheme-timeline-wrapper[data-layout=center] .etheme-timeline-connector {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .etheme-timeline-wrapper[data-layout=center] .etheme-timeline-item:nth-child(2n +1 ) .etheme-timeline-content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .etheme-timeline-wrapper[data-layout=center] .etheme-timeline-item:nth-child(2n +1 ) .etheme-timeline-content-with-arrow:after {
    left: calc(100% - (var(--arrow-size, 14px) / 2));
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .etheme-timeline-wrapper[data-layout=center] .etheme-timeline-item:nth-child(2n) .etheme-timeline-dates-wrapper {
    text-align: var(--item-text-align, end);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media only screen and (max-width: 767px) {
  .etheme-timeline-wrapper[data-layout=center] .etheme-timeline-step {
    position: absolute;
    top: var(--step-position-top, 0);
    bottom: var(--step-position-bottom, auto);
    left: calc(var(--cols-gap,40px) * -1);
    -webkit-transform: translateX(-50%) translateY(var(--step-transform-Y, 0));
            transform: translateX(-50%) translateY(var(--step-transform-Y, 0));
  }
}
.etheme-timeline-wrapper[data-item-animation] .etheme-timeline-dates-wrapper,
.etheme-timeline-wrapper[data-item-animation] .etheme-timeline-item .etheme-timeline-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.etheme-timeline-wrapper[data-item-animation] .etheme-timeline-dates-wrapper:not(.is-active),
.etheme-timeline-wrapper[data-item-animation] .etheme-timeline-item:not(.is-active) .etheme-timeline-content {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=left] .etheme-timeline-dates-wrapper:not(.is-active),
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=right] .etheme-timeline-item:not(.is-active) .etheme-timeline-content,
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=center] .etheme-timeline-item:nth-child(2n + 1):not(.is-active) .etheme-timeline-content,
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=center] .etheme-timeline-item:nth-child(2n):not(.is-active) .etheme-timeline-dates-wrapper {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=left] .etheme-timeline-item:not(.is-active) .etheme-timeline-content,
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=right] .etheme-timeline-dates-wrapper:not(.is-active),
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=center] .etheme-timeline-item:nth-child(2n + 1):not(.is-active) .etheme-timeline-dates-wrapper,
  .etheme-timeline-wrapper[data-item-animation=auto][data-layout=center] .etheme-timeline-item:nth-child(2n):not(.is-active) .etheme-timeline-content {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}
@media only screen and (max-width: 767px) {
  .etheme-timeline-wrapper[data-item-animation] .etheme-timeline-dates-wrapper:not(.is-active),
  .etheme-timeline-wrapper[data-item-animation] .etheme-timeline-item:not(.is-active) .etheme-timeline-content {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
.etheme-timeline-wrapper[data-item-animation=bottom] .etheme-timeline-dates-wrapper:not(.is-active),
.etheme-timeline-wrapper[data-item-animation=bottom] .etheme-timeline-item:not(.is-active) .etheme-timeline-content {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
.etheme-timeline-connector {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - var(--offset-connector-line-h, 20px));
  top: var(--offset-connector-line-h, 20px);
}
.etheme-timeline-connector-inner {
  position: absolute;
  top: 0;
  left: calc(50% - (var(--line-width, 2px) / 2));
  width: var(--line-width, 2px);
  background: var(--line-active-color, #008aff);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 2;
}
.etheme-timeline-connector:after {
  content: '';
  position: absolute;
  width: var(--line-width, 2px);
  height: 100%;
  border-right: var(--line-width, 2px) var(--line-style, dashed) var(--line-color, var(--et_border-color));
  z-index: 1;
  left: calc(50% - (var(--line-width, 2px) / 2));
}
.etheme-timeline-dates-wrapper,
.etheme-timeline-dates-items {
  display: grid;
  grid-row-gap: var(--rows-gap, 50px);
}
@media only screen and (max-width: 767px) {
  .etheme-timeline-dates-wrapper,
  .etheme-timeline-dates-items {
    display: none;
  }
}
.etheme-timeline-date-wrapper {
  white-space: nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.etheme-timeline-date {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 10px;
}
.etheme-timeline-date:last-child {
  margin-bottom: 0 !important;
}
.etheme-timeline-time {
  display: block;
  font-size: 0.85rem;
  line-height: 1;
}
.etheme-timeline-time:last-child {
  margin-bottom: 0 !important;
}
.etheme-timeline-image {
  margin-bottom: 25px;
}
.etheme-timeline-title {
  font-size: 1.4rem;
  text-transform: none;
}
.etheme-timeline-description {
  font-size: 1.14rem;
  margin-bottom: 15px;
}
.etheme-timeline-items {
  display: grid;
  grid-row-gap: var(--rows-gap, 50px);
}
.etheme-timeline-item {
  display: grid;
  position: relative;
  grid-template-columns: var(--item-columns, auto);
  grid-column-gap: var(--cols-gap, 40px);
  text-align: var(--item-text-align);
}
.etheme-timeline-step {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--step-icon-size, calc(var(--step-proportion,20px) / 2));
  color: var(--step-color, var(--line-color, var(--et_border-color)));
  width: var(--step-proportion, 20px);
  height: var(--step-proportion, 20px);
  border-radius: 50%;
  background-color: var(--step-bg-color, #fff);
  border: var(--step-border-width, 5px) solid var(--step-br-color, var(--line-color, var(--et_border-color)));
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 3;
}
.etheme-timeline-step.is-active {
  border-color: var(--step-br-active-color, var(--line-active-color, #008aff));
}
.etheme-timeline-icon {
  border-width: var(--step-border-width, 2px);
  font-size: var(--step-icon-size, calc(var(--step-proportion, 26px)/2));
  width: var(--step-proportion, 30px);
  height: var(--step-proportion, 30px);
}
.etheme-timeline-icon svg {
  fill: currentColor;
  overflow: visible;
  width: 1em;
  height: 1em;
}
.etheme-timeline-icon svg path[fill] {
  fill: currentColor;
}
.etheme-timeline-icon.is-active {
  color: var(--step-active-color, #fff);
  background-color: var(--step-bg-active-color, var(--line-active-color, #008aff));
}
.etheme-timeline-content {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: var(--item-cols-gap, 20px);
  padding: 15px 30px;
  z-index: 1;
}
.etheme-timeline-content-with-arrow:after {
  content: '';
  border-top: var(--border-width) var(--border-style) var(--border-color);
  border-right: var(--border-width) var(--border-style) var(--border-color);
  background: inherit;
  position: absolute;
  top: calc(var(--offset-connector-line-h, 20px) + (var(--step-proportion, 20px) / 2) - (var(--arrow-size, 14px) / 2));
  width: var(--arrow-size, 14px);
  height: var(--arrow-size, 14px);
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0%);
          clip-path: polygon(0 0, 100% 100%, 100% 0%);
  right: calc(100% - (var(--arrow-size, 14px) / 2));
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.etheme-timeline-content-icon {
  display: block;
  line-height: 1;
  margin-bottom: 10px;
}
.etheme-timeline-content-icon-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  font-size: 9em;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  overflow: hidden;
}
