.etheme-twitter-feed-tweets {
  display: grid;
  grid-template-columns: repeat(var(--cols, 3), 1fr);
  grid-gap: var(--rows-gap, 20px) var(--cols-gap, 20px);
}
.etheme-twitter-feed-tweet {
  display: block;
  position: relative;
  padding: 30px;
  -webkit-transition-property: background, border, opacity, -webkit-box-shadow;
  transition-property: background, border, opacity, -webkit-box-shadow;
  transition-property: background, border, opacity, box-shadow;
  transition-property: background, border, opacity, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  min-width: 0;
  border-radius: 3px;
}
.etheme-twitter-feed-tweet.has-divider:after {
  content: '';
  position: absolute;
  top: calc(100% + var(--rows-gap,20px) / 2 - var(--line-weight,1px)/ 2);
  width: 100%;
  left: 0;
  border-bottom: var(--line-weight, 1px) var(--line-style, solid) var(--line-color, #e1e1e1);
}
.etheme-twitter-feed-tweet.has-divider:last-child:after {
  display: none;
}
.etheme-twitter-feed-header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}
.etheme-twitter-feed-author-name {
  vertical-align: middle;
}
.etheme-twitter-feed-author-avatar {
  display: inline-block;
  line-height: 1;
  font-size: 1.7rem;
  color: #479BE9;
}
.etheme-twitter-feed-author-avatar:not(:only-child) {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.etheme-twitter-feed-author-avatar img {
  display: inline-block;
  border-radius: 50%;
  max-width: 35px;
}
.etheme-twitter-feed-author-avatar svg {
  vertical-align: middle;
}
.etheme-twitter-feed-text {
  margin-bottom: 5px;
  font-size: 1.14rem;
}
.etheme-twitter-feed-text a {
  color: #479BE9;
}
.etheme-twitter-feed-time {
  color: #555;
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 10px;
}
.etheme-twitter-feed-time:last-child {
  margin-bottom: 0;
}
.etheme-twitter-feed-more {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 10px;
}
.etheme-twitter-feed-more svg {
  display: inline-block;
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.etheme-twitter-feed-more:hover svg {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.etheme-twitter-feed-footer {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: var(--footer-items-gap, 7px);
  font-size: 1rem;
  padding: 10px 0 0;
  color: #000;
}
.etheme-twitter-feed-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: currentColor;
  cursor: pointer;
}
.etheme-twitter-feed-icon-count {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.etheme-twitter-feed-icon:hover {
  color: #888;
}
.etheme-twitter-feed-icon:not(:hover) .etheme-twitter-feed-icon-popup {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
  visibility: hidden;
}
.etheme-twitter-feed-icon-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  max-height: 250px;
  overflow: auto;
}
.etheme-twitter-feed-icon-popup a {
  white-space: nowrap;
}
.etheme-twitter-feed-icon-popup a:after {
  content: attr(title);
  display: inline-block;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}
