.etheme-product-filters {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--cols-gap, 5px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.etheme-product-filters-items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: var(--inner-cols-gap, 5px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.etheme-product-filters-button button {
  height: auto;
  padding: 10px 20px;
  text-transform: none;
}
.etheme-product-filters-button svg {
  fill: currentColor;
}
.etheme-product-filters[data-type=separated] .etheme-product-filters-item:after {
  display: none;
}
.etheme-product-filters-item {
  position: relative;
}
.etheme-product-filters-item:not(:last-child):after {
  content: '';
  width: 0;
  border-right: var(--delimiter-width, 1px) var(--delimiter-style, solid) var(--delimiter-color, var(--et_border-color));
  display: block;
  position: absolute;
  right: calc(var(--inner-cols-gap, 5px) * -.5);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: 5px;
  bottom: 5px;
}
.etheme-product-filters-item .etheme-product-filters-item-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 3px;
  max-height: 200px;
  overflow: auto;
  list-style: none;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
}
.etheme-product-filters-item .etheme-product-filters-item-content > li {
  margin: 0 -20px;
  padding: 0 20px;
}
.etheme-product-filters-item .etheme-product-filters-item-content > li.selected {
  background: #f1f1f1;
}
.etheme-product-filters-item .etheme-product-filters-item-content ul {
  list-style: none;
}
.etheme-product-filters-item .etheme-product-filters-item-content .filter-item {
  display: inline-block;
  color: currentColor !important;
  padding: 5px 0;
}
.etheme-product-filters-item-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}
.etheme-product-filters-item-title .title-text {
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 25%;
}
.etheme-product-filters-item-title:after {
  content: '\e905';
  font-family: 'xstore-icons';
  font-size: 0.75em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.etheme-product-filters-item.opened .etheme-product-filters-item-title:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.etheme-product-filters-quick-results {
  white-space: nowrap;
  padding: 0 7px;
  overflow: auto;
}
.etheme-product-filters-quick-results::-webkit-scrollbar {
  display: none;
}
.etheme-product-filters-quick-results > span {
  display: inline-block;
  position: relative;
  color: #555;
  background: #ddd;
  padding: 5px 7px;
  vertical-align: middle;
  line-height: 1;
  font-size: 0.85em;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.etheme-product-filters-quick-results > span:hover {
  background: #fafafa;
  padding-left: 15px;
}
.etheme-product-filters-quick-results > span:hover svg {
  opacity: 1;
  visibility: visible;
}
.etheme-product-filters-quick-results svg {
  position: absolute;
  top: calc(50% - .375em);
  left: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .etheme-product-filters {
    grid-template-columns: 1fr;
  }
  .etheme-product-filters-items {
    grid-template-columns: auto;
  }
  .etheme-product-filters-item:not(:last-child):after {
    top: auto;
    bottom: calc(var(--inner-cols-gap,5px) * -.5);
    border: none;
    border-bottom: var(--delimiter-width, 1px) var(--delimiter-style, solid) var(--delimiter-color, var(--et_border-color));
    width: 100%;
    height: 0;
    left: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .etheme-product-filters-button button {
    width: 100%;
  }
  .etheme-product-filters-button button .elementor-button-text {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
}
