.global-post-template-full-width.single-testimonials .post-header {
  padding-left: 15px;
}
.global-post-template-full-width.single-testimonials .post-categories {
  display: none;
}
.global-post-template-full-width.single-testimonials .wp-picture {
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline-block;
}
.global-post-template-full-width.single-testimonials .post-heading {
  display: inline-block;
  vertical-align: top;
}
