/*==================================
=            Blank Page            =
==================================*/
body.page-template-blank .template-container {
  width: 100%;
}
body.page-template-blank .page-wrapper {
  width: 100%;
  padding-top: 0 !important;
}
body.page-template-blank .container.blank-page {
  width: 100%;
}
body.page-template-blank .container.blank-page .container {
  width: 100%;
}
.page-template-blank .content-page {
  padding-bottom: 0;
}
/*-----  End of Blank Page  ------*/
