span.dropcap {
  font-size: 3.14rem;
  line-height: 2.86rem;
  position: relative;
  min-width: 1.45em;
  top: 0.14em;
  height: 1.45em;
  text-align: center;
  float: left;
  padding: 0.23em;
  margin-right: 0.34em;
  color: var(--et_dark-2-white);
}
span.dropcap.dark {
  color: var(--et_white-2-dark);
  background-color: var(--et_active-color);
}
span.dropcap.bordered {
  border: 1px solid var(--et_border-color);
}
span.dropcap.light {
  font-size: 6rem;
  line-height: 3.07rem;
  margin-right: 0;
  height: 0.76em;
  min-width: 0.76em;
  padding: 0.12em 0.2em;
}
span.dropcap {
  float: right;
  padding: 0.23em;
  margin-right: 0;
  margin-left: 0.34em;
}
span.dropcap.light {
  margin-left: 0;
}
