/* Fixed footer */
.et-footers-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .framed .et-footers-wrapper,
  .boxed .et-footers-wrapper {
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
