.posts-nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  top: 50%;
  z-index: 9;
  height: 90px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.posts-nav-btn a:hover {
  color: var(--et_dark-color);
}
.posts-nav-btn .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px var(--et_dark-2-white-01);
          box-shadow: 1px 1px 10px var(--et_dark-2-white-01);
}
.posts-nav-btn .post-info .post-title {
  font-size: 1.14rem;
  display: block;
  max-width: 155px;
}
.posts-nav-btn .post-info .price {
  font-size: 1rem;
  margin-bottom: 0;
}
.posts-nav-btn .post-nav-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  background: var(--et_dark-color);
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.post-navigation {
  width: 100%;
  border-top: 1px solid var(--et_border-color);
  border-bottom: 1px solid var(--et_border-color);
  display: inline-block;
  padding: 1.78em 0;
  text-align: end;
}
.post-navigation p {
  margin-bottom: 0;
}
.post-navigation a {
  padding-left: 5px;
  padding-right: 5px;
}
.post-navigation:empty {
  display: none;
}
@media only screen and (max-width: 1300px) {
  .posts-navigation {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .posts-nav-btn {
    height: 50px;
  }
  .posts-nav-btn img {
    max-width: 50px;
    max-height: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .posts-nav-btn {
    display: none;
  }
}
.prev-post {
  left: -270px;
  text-align: end;
}
.prev-post.outside,
body:not(.et-preloader-hide) .prev-post {
  left: -294px;
}
.prev-post .button:before {
  content: "\e902";
}
.prev-post .post-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.prev-post .post-details {
  margin-right: 20px;
}
.prev-post:hover {
  left: 0;
}
.prev-post:hover .post-nav-arrow {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.next-post {
  right: -270px;
  text-align: start;
}
.next-post.outside,
body:not(.et-preloader-hide) .next-post {
  right: -294px;
}
.next-post .button:before {
  content: "\e904";
}
.next-post .post-details {
  margin-left: 20px;
}
.next-post:hover {
  right: 0;
}
.next-post:hover .post-nav-arrow {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (min-width: 1200px) {
  body.bordered .prev-post {
    margin-left: 20px;
  }
  body.bordered .next-post {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 993px) {
  .site-header-vertical ~ div .next-post {
    right: calc(-270px + var(--header-vertical-size, 90px));
  }
  .site-header-vertical ~ div .next-post:hover {
    right: var(--header-vertical-size, 90px);
  }
}
