.content-product.custom-template .product-image-wrapper {
  width: 100%;
}
.content-product.custom-template .product-stock {
  margin: 0 !important;
  max-width: 100%;
}
/* Custom template product css */
.content-product .vc-gitem-zone-height-mode-auto:before {
  display: none;
}
.content-product .vc_gitem-zone-a .vc_gitem-row-position-top,
.content-product .vc_gitem-zone-a .vc_gitem-row-position-middle,
.content-product .vc_gitem-zone-a .vc_gitem-row-position-bottom {
  position: static;
  -webkit-transform: none;
          transform: none;
}
.content-product .vc_gitem-zone-b {
  z-index: auto;
}
.content-product:hover .vc_gitem-zone-b .vc_gitem_row,
.content-product .vc_gitem-zone-a {
  z-index: 2;
}
.content-product .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b,
.content-product .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b,
.content-product .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.content-product .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_btn {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.content-product .vc_grid-item-mini .vc_gitem-animate-slideInLeft .vc_gitem-zone-b {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-none .vc_gitem-zone-b {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_post-title,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_post-title {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_btn {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_separator,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_separator {
  width: 50%;
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-fadeIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-b .vc_post-title .vc_btn,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-b .vc_post-title .vc_btn {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleIn .vc_gitem-zone-a {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-scaleRotateIn .vc_gitem-zone-a {
  -webkit-transform: scale(1.5) rotate(10deg);
          transform: scale(1.5) rotate(10deg);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurOut,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-blurScaleOut .vc_gitem-zone-a {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-slideInRight .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-slideInLeft .vc_gitem-zone-b {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-slideBottom .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-slideTop .vc_gitem-zone-b {
  top: 0;
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipFadeIn .vc_gitem-zone-a,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipHorizontalFadeIn .vc_gitem-zone-a {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipFadeIn .vc_gitem-zone-b,
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipHorizontalFadeIn .vc_gitem-zone-b {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipFadeIn .vc_gitem-zone-b {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-flipHorizontalFadeIn .vc_gitem-zone-b {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-goTop20 .vc_gitem-zone-a {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-goTop20 .vc_gitem-zone-b {
  bottom: 0;
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-goBottom20 .vc_gitem-zone-a {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
.content-product:hover .vc_grid-item-mini .vc_gitem-animate-goBottom20 .vc_gitem-zone-b {
  top: 0;
}
/* new footer product */
.content-product .footer-product2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  /* remove from this and place without footer-product2 */
  /* type icons */
}
.content-product .footer-product2 .button {
  background-color: transparent;
  border-width: 0;
}
.content-product .footer-product2 .footer-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-product .footer-product2.vertical .footer-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-product .footer-product2.justify-content-around .footer-inner {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.content-product .footer-product2 .footer-inner > *,
.content-product .footer-product2 .button {
  padding: 10px;
  line-height: 1 !important;
  font-size: 0.79rem;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  color: var(--et_dark-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-product .footer-product2.vertical .footer-inner > *,
.content-product .footer-product2.vertical .footer-inner .button {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.content-product .footer-product2 .yith-wcwl-add-to-wishlist .feedback,
.content-product .footer-product2.compare-hidden .compare,
.content-product .footer-product2 .added_to_cart {
  display: none;
}
.content-product .footer-product2 .button:before,
.content-product .footer-product2 .show-quickly:before,
.content-product .footer-product2 .yith-wcwl-add-to-wishlist > .show a:before,
.content-product .footer-product2 .yith-wcwl-add-to-wishlist > .hide a:before,
.content-product .footer-product2 .wishlist-fragment a:before {
  font-family: 'xstore-icons' !important;
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.content-product .footer-product2 .xstore-wishlist .et-icon,
.content-product .footer-product2 .xstore-compare .et-icon {
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.content-product .footer-product2 .xstore-wishlist-has-animation,
.content-product .footer-product2 .xstore-compare-has-animation {
  position: relative;
}
.content-product .footer-product2 .xstore-wishlist,
.content-product .footer-product2 .xstore-compare {
  position: relative;
}
.content-product .footer-product2 .xstore-wishlist .xstore-wishlist-animated-hearts,
.content-product .footer-product2 .xstore-compare .xstore-compare-animated-hearts {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content-product .footer-product2 .add_to_cart_button:before,
.content-product .footer-product2 .product_type_simple:before,
.content-product .footer-product2 .product_type_variable:before,
.content-product .footer-product2 .product_type_variation:before,
.content-product .footer-product2 .product_type_grouped:before,
.content-product .footer-product2 .product_type_external:before,
.content-product .footer-product2 .show-product:before {
  content: "\e90c";
}
.content-product .footer-product2 .show-quickly:before {
  content: "\e907";
}
.content-product .footer-product2 .compare:before {
  content: "\e915";
}
.content-product .footer-product2 .yith-wcwl-add-to-wishlist {
  margin-top: 0;
}
.content-product .footer-product2 .yith-wcwl-add-to-wishlist > .show a:before,
.content-product .footer-product2 .yith-wcwl-add-to-wishlist > .hide a:before {
  content: "\e908";
}
.content-product .footer-product2.cart-type-icon .add_to_cart_button,
.content-product .footer-product2.cart-type-icon .product_type_simple,
.content-product .footer-product2.cart-type-icon .product_type_variable,
.content-product .footer-product2.cart-type-icon .product_type_variation,
.content-product .footer-product2.cart-type-icon .product_type_grouped,
.content-product .footer-product2.cart-type-icon .product_type_external,
.content-product .footer-product2.cart-type-icon .show-product,
.content-product .footer-product2.compare-type-icon .compare {
  font-size: 0;
}
.content-product .footer-product2 .show-quickly {
  cursor: pointer;
}
.content-product .footer-product2 .show-quickly.type-icon,
.content-product .footer-product2 .et-wishlist-holder.type-icon {
  font-size: 0;
}
.content-product .footer-product2 .show-quickly.type-text:before,
.content-product .footer-product2.cart-type-text .add_to_cart_button:before,
.content-product .footer-product2.cart-type-text .product_type_simple:before,
.content-product .footer-product2.cart-type-text .product_type_variable:before,
.content-product .footer-product2.cart-type-text .product_type_variation:before,
.content-product .footer-product2.cart-type-text .product_type_grouped:before,
.content-product .footer-product2.cart-type-text .product_type_external:before,
.content-product .footer-product2.cart-type-text .show-product:before,
.content-product .footer-product2.compare-type-text .compare:before,
.content-product .footer-product2 .show-quickly.type-text:before,
.content-product .footer-product2 .et-wishlist-holder.type-text .yith-wcwl-add-to-wishlist > .show a:before,
.content-product .footer-product2 .et-wishlist-holder.type-text .yith-wcwl-add-to-wishlist > .hide a:before {
  display: none;
}
.content-product .footer-product2.cart-type-text .add_to_cart_button:before,
.content-product .footer-product2.cart-type-text .product_type_simple:before,
.content-product .footer-product2.cart-type-text .product_type_variable:before,
.content-product .footer-product2.cart-type-text .product_type_variation:before,
.content-product .footer-product2.cart-type-text .product_type_grouped:before,
.content-product .footer-product2.cart-type-text .product_type_external:before,
.content-product .footer-product2.compare-type-text .compare:before,
.content-product .footer-product2.cart-type-text .show-product:before,
.content-product .footer-product2 .show-quickly.type-text:before,
.content-product .footer-product2 .et-wishlist-holder.type-text .yith-wcwl-add-to-wishlist > .show a:before,
.content-product .footer-product2 .et-wishlist-holder.type-text .yith-wcwl-add-to-wishlist > .hide a:before,
.content-product .footer-product2.cart-type-icon .add_to_cart_button:before,
.content-product .footer-product2.cart-type-icon .product_type_simple:before,
.content-product .footer-product2.cart-type-icon .product_type_variable:before,
.content-product .footer-product2.cart-type-icon .product_type_variation:before,
.content-product .footer-product2.cart-type-icon .product_type_grouped:before,
.content-product .footer-product2.cart-type-icon .product_type_external:before,
.content-product .footer-product2.cart-type-icon .show-product:before,
.content-product .footer-product2.compare-type-icon .compare:before,
.content-product .footer-product2 .show-quickly.type-icon:before,
.content-product .footer-product2 .et-wishlist-holder.type-icon .yith-wcwl-add-to-wishlist > .show a:before,
.content-product .footer-product2 .et-wishlist-holder.type-icon .yith-wcwl-add-to-wishlist > .hide a:before,
.content-product .footer-product2 .xstore-wishlist.type-icon .et-icon,
.content-product .footer-product2 .xstore-wishlist.type-icon .et-icon,
.content-product .footer-product2 .xstore-compare.type-icon .et-icon,
.content-product .footer-product2 .xstore-compare.type-icon .et-icon {
  margin-right: 0;
  margin-left: 0;
  top: 0;
}
.main-products-loop .products-with-custom-template-list .custom-template .vc_grid-item,
#products-wrapper .products-with-custom-template-list .custom-template .vc_grid-item {
  padding-left: 0;
  padding-right: 0;
}
.carousel-area .item-no-space .content-product > .vc_grid-item.vc_col-sm-12 {
  padding: 0;
}
