.popup-added-to-cart {
  background: var(--et_white-2-dark);
  overflow: hidden;
  overflow-y: auto;
  padding: 30px 30px 8px;
}
.popup-added-to-cart.container {
  max-width: 640px;
  max-height: calc(100vh - 60px);
}
.popup-added-to-cart .product-section-01 > table {
  margin-top: -1.43em;
}
.popup-added-to-cart .product-section-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px 5px;
}
.popup-added-to-cart .product-section-02 a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 15px;
}
@media only screen and (max-width: 768px) {
  .popup-added-to-cart .product-section-02 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popup-added-to-cart .product-section-02 a {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.popup-added-to-cart .product-section-03 {
  margin-top: 10px;
}
.popup-added-to-cart .order-total {
  border-top: 1px solid var(--et_border-color);
  border-bottom: 1px solid var(--et_border-color);
  color: var(--et_dark-2-white);
  font-size: 1.14rem;
  text-transform: uppercase;
}
.popup-added-to-cart .order-total th {
  font-size: calc(var(--h5-size-proportion) * 1rem);
  vertical-align: middle;
}
.popup-added-to-cart .variation {
  opacity: 0.7;
}
.popup-added-to-cart .variation br:first-of-type {
  display: none;
}
.popup-added-to-cart .variation p {
  margin-bottom: 0.21em;
  line-height: 1.4;
  font-size: 1rem;
}
.popup-added-to-cart .variation dt {
  display: inline-block;
}
.popup-added-to-cart .variation dd {
  display: inline-block;
  margin-right: 5px;
}
.popup-added-to-cart .variation dd p {
  margin-bottom: 0;
  line-height: 1;
}
.popup-added-to-cart .variation img {
  max-width: 15px;
}
.popup-added-to-cart .quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  max-width: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}
.popup-added-to-cart .quantity-wrapper .quantity {
  margin-bottom: 0;
}
div.popup-added-to-cart .quantity-wrapper .quantity {
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .popup-added-to-cart .quantity-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popup-added-to-cart .quantity-wrapper span.quantity {
    margin-top: 10px;
  }
}
.popup-added-to-cart .product_meta {
  margin-top: 15px;
}
.popup-added-to-cart .etheme_sales_booster_progress_bar_shortcode {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.popup-added-to-cart .etheme_sales_booster_progress_bar_shortcode .et-cart-progress {
  border: none;
  padding: 0;
  margin: 15px 0;
}
.popup-added-to-cart .etheme_sales_booster_progress_bar_shortcode .et-cart-progress > span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
