/*=====================================
=            Checkout Page            =
=====================================*/
.woocommerce-checkout .woocommerce-error:first-of-type {
  margin-top: 1.43em;
}
.woocommerce-form-login-toggle .woocommerce-info,
.woocommerce-form-coupon-toggle .woocommerce-info {
  border: none;
  padding: 0;
  color: var(--et_dark-2-white);
  background-color: transparent;
}
.woocommerce-form-login-toggle .woocommerce-info:before,
.woocommerce-form-coupon-toggle .woocommerce-info:before {
  position: static;
  margin-right: 5px;
  color: inherit;
}
.woocommerce-form-login-toggle .woocommerce-info {
  margin-bottom: 0.43em;
}
.woocommerce-form-coupon .form-row-last {
  padding-left: 0;
  padding-right: 0;
}
.form-row-first,
.form-row-last {
  float: left;
  width: 50%;
  padding: 0 15px 0 0;
  overflow: visible;
}
.form-row-last {
  padding: 0 0 0 15px;
  float: right;
}
.form-row-wide {
  clear: both;
}
.step-title {
  padding: 0 0 1em 0;
  text-align: start;
  font-size: 1em;
  margin-bottom: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--et_border-color);
  text-transform: uppercase;
}
.order_details {
  padding-left: 0 !important;
}
.order_details thead th {
  border-bottom: 1px solid var(--et_border-color);
}
table.order_details tr,
table.shop_table_responsive.customer_details tr,
table.order_details td,
table.shop_table_responsive.customer_details td,
table.order_details th,
table.shop_table_responsive.customer_details th {
  vertical-align: middle;
}
.before-checkout-form .button {
  background-color: var(--et_btn-dark-bg-color);
  border: 1px solid var(--et_btn-dark-br-color);
  color: var(--et_btn-dark-color);
  -webkit-text-fill-color: currentColor;
}
.before-checkout-form .button:hover {
  background-color: var(--et_btn-dark-bg-color-hover);
  border-color: var(--et_btn-dark-br-color-hover);
  color: var(--et_btn-dark-color-hover);
}
.before-checkout-form .et-facebook-login-wrapper {
  padding-bottom: 2.5em;
}
.before-checkout-form form.login {
  border: 1px solid var(--et_border-color);
  padding: 30px;
  margin: 1.43em auto 1.43em 0;
}
.before-checkout-form .checkout_coupon .form-row {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.before-checkout-form .checkout_coupon .input-text {
  width: 350px;
  max-width: 100%;
}
.woocommerce-form-coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.woocommerce-form-coupon > p:first-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 13px;
}
.woocommerce-form-coupon-toggle .woocommerce-info:before {
  content: "\e920";
  line-height: 1;
  vertical-align: middle;
}
.woocommerce-form-login-toggle .woocommerce-info:before {
  content: "\e1000";
}
.woocommerce-password-strength {
  font-size: 1.14rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.woocommerce-password-strength.bad,
.woocommerce-password-strength.short {
  color: var(--et_red-color);
}
.woocommerce-password-strength.good {
  color: var(--et_orange-color);
}
.woocommerce-password-strength.strong {
  color: var(--et_green-color);
}
.woocommerce-password-hint {
  font-size: 1rem;
}
.variation-SoldBy {
  font-weight: 400;
}
#customer_details p {
  margin-bottom: 0.75em;
}
#customer_details .create-account {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.43em;
}
#customer_details .create-account .form-row#billing_phone_field {
  margin-left: 10px;
}
.woocommerce-shipping-fields .step-title {
  display: none;
}
.order-review .payment_methods.methods .woocommerce-info {
  margin-bottom: 1.83em;
}
.order-review .cart_item .product-name {
  text-align: start;
  font-size: 1.14rem;
  color: var(--et_dark-2-white);
}
.order-review thead {
  display: none;
}
.order-review .sales-booster-safe-checkout {
  margin-top: var(--elements-space, 20px);
}
.order-review .cart_item .product-name img,
.woocommerce-order-details tbody .product-name img {
  max-width: 80px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  float: left;
}
@media only screen and (min-width: 768px) {
  .order-review .cart_item .product-name-info,
  .woocommerce-order-details tbody .product-name-info {
    display: block;
    overflow: hidden;
  }
}
small.includes_tax {
  font-size: 0.85rem;
}
.woocommerce-input-wrapper {
  display: block;
  line-height: 1.1;
}
.woocommerce-privacy-policy-text p {
  margin-bottom: 1em;
}
#woo_pp_ec_button_checkout .paypal-buttons > iframe {
  z-index: auto;
}
.form-row.place-order {
  width: 100%;
}
.form-row.place-order .button {
  font-size: 1rem;
  width: 100%;
  background-color: var(--et_btn-dark-bg-color);
  border: 1px solid var(--et_btn-dark-br-color);
  color: var(--et_btn-dark-color);
  -webkit-text-fill-color: currentColor;
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
  height: auto;
}
.form-row.place-order .button:hover {
  background-color: var(--et_btn-dark-bg-color-hover);
  border-color: var(--et_btn-dark-br-color-hover);
  color: var(--et_btn-dark-color-hover);
}
.form-row.terms {
  width: 100%;
  margin-bottom: 0;
}
.form-row.terms label {
  display: inline-block;
  width: auto;
  float: none;
}
.form-row.terms input[type="checkbox"] {
  float: left;
  display: inline-block !important;
  margin-left: 0;
  position: relative;
  top: 4px;
}
.wc-proceed-to-checkout .button:not(:last-child) {
  margin-bottom: 10px;
}
.wcppec-checkout-buttons__separator {
  display: none;
}
#payment {
  border-top: 1px solid var(--et_border-color);
  padding-top: 1.43em;
}
#payment .payment_methods fieldset label {
  width: auto;
}
#payment .payment_methods li:last-child {
  margin-bottom: 1.5em;
}
.payment_methods label img {
  width: auto;
  margin: 0 6px;
  position: relative;
  top: -4px;
  max-width: 100px;
  max-width: -moz-max-content;
  max-height: 35px;
  display: inline-block;
}
.payment_methods a {
  text-decoration: underline;
}
.payment_methods .stripe-alipay-icon {
  max-width: 70px;
  max-height: 25px;
}
.payment_methods p {
  font-size: 1rem;
  line-height: 1.4;
}
.payment_box {
  padding-left: 22px;
}
.payment_box fieldset {
  padding: 15px;
  margin: 10px 0 15px;
}
label[for="payment_method_stripe"] img {
  max-width: 20px;
  max-height: 15px;
  margin: 0 2px;
  top: 0;
}
.payment_methods p,
#wc-stripe-cc-form label {
  margin-bottom: 5px;
}
#ship-to-different-address .checkbox {
  margin-bottom: 8px;
}
.woocommerce-terms-and-conditions-wrapper .form-row label {
  font-size: 1rem;
}
@media only screen and (max-width: 992px) {
  #customer_login .col-1,
  #customer_login .col-2 {
    width: 100%;
    margin: 0 0 2.14em 0;
  }
  .order-review table th {
    width: 38%;
  }
  .order-review table td {
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .form-row.terms label {
    width: 85%;
    margin-left: 10px;
  }
  .form-row-first,
  .form-row-last,
  .rtl .form-row-first,
  .rtl .form-row-last {
    width: 100%;
    padding: 0;
  }
  .before-checkout-form .login {
    padding: 15px;
  }
  .before-checkout-form .login .form-row {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .before-checkout-form .login .form-row .inline {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 0;
  }
  .before-checkout-form .checkout_coupon {
    padding: 15px;
  }
  .before-checkout-form .checkout_coupon .form-row,
  .before-checkout-form .checkout_coupon .input-text {
    width: 100%;
  }
  .before-checkout-form .checkout_coupon .button {
    margin-top: 10px;
    float: right;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .cart_totals th {
    width: 95px;
  }
}
@media only screen and (max-width: 480px) {
  .payment_methods label img {
    max-width: 68px;
  }
  .checkout-button {
    font-size: 0.9rem;
  }
}
.elementor-widget-woocommerce-checkout-page .woocommerce-info {
  border: none;
}
.elementor-widget-woocommerce-checkout-page .woocommerce .e-checkout__container button.woocommerce-button {
  padding: 0.75rem 2.2rem;
}
.elementor-widget-woocommerce-checkout-page .order-review {
  background: var(--sections-background-color, #fff);
  border-radius: var(--sections-border-radius, 3px);
  padding: var(--sections-padding, 16px 30px);
  margin: var(--sections-margin, 0 0 24px 0);
  border: 1px var(--sections-border-type, solid) var(--sections-border-color, #d4d4d4);
}
/*-----  End of Checkout Page  ------*/
