.order_details {
  color: var(--et_dark-2-white);
  margin-bottom: 2em;
}
.order_details .et-icon {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 200px;
  margin-bottom: 20px;
}
.order_details .woocommerce-notice {
  text-align: center;
  font-size: 1.7142em;
  text-transform: uppercase;
}
.order_details .product-name {
  width: 70%;
}
.order_details tr:not(:last-child) th,
.order_details tr:not(:last-child) td {
  padding-bottom: 0;
}
.order_details th,
.order_details td {
  padding-top: 1em;
  padding-bottom: 1em;
}
.order_details th:last-child,
.order_details td:last-child {
  text-align: end;
  color: var(--et_dark-2-white);
}
.woocommerce-order-details__title {
  margin-bottom: 0;
}
.woocommerce-order-details strong {
  font-weight: 400;
}
.woocommerce-order-details table {
  font-size: 1.14rem;
}
.woocommerce-order-details th.product-name,
.woocommerce-order-details .product-total,
.woocommerce-order-details .amount {
  font-size: 1rem;
}
.woocommerce-order-details .product-total {
  vertical-align: top;
}
.woocommerce-order-details tfoot th,
.woocommerce-order-details tfoot td:last-child {
  color: var(--et_font-color);
}
.woocommerce-order-details tfoot tr:last-child th {
  font-size: 1rem;
  text-transform: uppercase;
}
.woocommerce-order-details tfoot tr:last-child th,
.woocommerce-order-details tfoot tr:last-child .amount {
  color: var(--et_dark-2-white);
}
ul.woocommerce-order-overview {
  display: inline-block;
  border: 1px dashed var(--et_border-color);
  padding: 1vw 2.7vw !important;
  margin-bottom: 2vw;
  list-style: none;
}
ul.woocommerce-order-overview li {
  color: var(--et_dark-2-white);
  font-size: 1.14rem;
  margin-bottom: 3px;
}
ul.woocommerce-order-overview li strong {
  font-weight: 400;
  color: var(--et_main-color);
}
.woocommerce-order-overview-wrapper {
  text-align: center;
}
.woocommerce-order-overview-wrapper ~ p {
  margin-top: 10px;
}
ul.wc-item-meta {
  list-style: none;
  padding-left: 0;
}
ul.wc-item-meta li {
  font-size: 1rem;
  color: var(--et_main-color);
  margin-bottom: 0;
}
.wc-item-meta-label + p {
  display: inline-block;
  margin: 0;
  font-size: inherit;
}
@media only screen and (min-width: 993px) {
  .woocommerce-order-received:not(.boxed) .woocommerce-order-details,
  .woocommerce-order-received:not(.boxed) .woocommerce-customer-details,
  .woocommerce-order-received:not(.boxed) .woocommerce-order-overview-wrapper ~ p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
