.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > ul,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > ul,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > div,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > div {
  overflow-y: auto;
  overflow-x: hidden;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > ul:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > ul:after,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > div:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > div:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--et_white-2-dark-0)), color-stop(80%, var(--et_container-bg-color, var(--et_white-2-dark))));
  background: linear-gradient(to bottom, var(--et_white-2-dark-0) 0%, var(--et_container-bg-color, var(--et_white-2-dark)) 80%);
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).etheme_widget_satick_block > div:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).etheme_widget_satick_block > div:after,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).widget_rating_filter > ul:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).widget_rating_filter > ul:after,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).widget_shopping_cart > div:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).widget_shopping_cart > div:after,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).null-instagram-feed > div:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).null-instagram-feed > div:after,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).etheme-active-filters > ul:not(:last-child):after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).etheme-active-filters > ul:not(:last-child):after {
  display: none;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).etheme_widget_satick_block > div,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).etheme_widget_satick_block > div {
  overflow: hidden;
  padding: 0;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).widget_shopping_cart > ul,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).widget_shopping_cart > ul,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider).widget_rating_filter > ul,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider).widget_rating_filter > ul {
  padding-bottom: 0;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) .menu-element .nav-sublist-dropdown,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) .menu-element .nav-sublist-dropdown {
  display: none !important;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) .swiper-entry:before,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) .swiper-entry:before {
  content: '';
  display: table;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) .swiper-entry:after,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) .swiper-entry:after {
  clear: both;
  content: '';
  display: table;
  background: none;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider):not(.etheme_widget_satick_block) > ul,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider):not(.etheme_widget_satick_block) > ul,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider):not(.etheme_widget_satick_block) > div,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider):not(.etheme_widget_satick_block) > div {
  max-height: 250px;
}
.s_widgets-with-scroll .sidebar .sidebar-widget.widget_product_tag_cloud,
.s_widgets-with-scroll .shop-filters .sidebar-widget.widget_product_tag_cloud {
  margin-bottom: 1.5em;
}
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > ul,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > ul,
.s_widgets-with-scroll .sidebar .sidebar-widget:not(.sidebar-slider) > .menu-element,
.s_widgets-with-scroll .shop-filters .sidebar-widget:not(.sidebar-slider) > .menu-element {
  padding-left: 10px !important;
  padding-bottom: 20px;
}
.s_widgets-with-scroll .sidebar .cart-widget-products .remove,
.s_widgets-with-scroll .shop-filters .cart-widget-products .remove {
  left: 5px;
}
