.et-toggle-mob-sidebars-wrapper {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.et-toggle-mob-sidebars-wrapper:before,
.et-toggle-mob-sidebars-wrapper.et-content-shown .et-toggle-mob-sidebar {
  display: none;
}
.et-toggle-mob-sidebars-inner {
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--et_dark-2-white);
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 50px;
  margin: -5px 0;
}
.et-toggle-mob-sidebars-inner .et-toggle {
  background-color: var(--et_white-2-dark);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.et-toggle-mob-sidebars-inner .et-toggle:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
  right: -15px;
  bottom: -15px;
}
.et-toggle-mob-sidebars-inner .et-toggle-mob-sidebar:not(:last-child) {
  margin-bottom: 5px;
}
.et-toggle-mob-sidebars-inner svg {
  fill: currentColor;
}
.et-toggle-mob-sidebars-inner img {
  max-width: 1.5em;
}
.et-close-sidebar {
  position: fixed;
  top: 9px;
  z-index: 99;
}
.et-close-sidebar:before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--et_white-2-dark);
  border: 1px solid var(--et_border-color);
  font-size: 0.8em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.et-close-sidebar:after {
  content: '';
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: all;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar.et-mini-content {
  position: fixed;
  top: 0;
  height: 100vh !important;
  width: 300px !important;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--et_white-2-dark);
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 20px 30px;
  opacity: 1;
  visibility: visible;
}
.sidebar.et-mini-content:not(.active) {
  opacity: 0 !important;
  visibility: hidden !important;
}
.sidebar.et-mini-content .sidebar-widget {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.sidebar.et-mini-content.active {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.sidebar.et-mini-content .sidebar-widget:not(.sidebar-slider) > ul:after,
.sidebar.et-mini-content .sidebar-widget:not(.sidebar-slider) > div:after {
  display: none !important;
}
@media only screen and (min-width: 992px) {
  .sidebar-off_canvas .sidebar:not(.loaded) {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .sidebar-mobile-off_canvas .sidebar:not(.loaded) {
    display: none !important;
  }
}
.sidebar-mobile-off_canvas .sidebar:not(.active) ~ .et-close-sidebar,
.sidebar-off_canvas .sidebar:not(.active) ~ .et-close-sidebar {
  opacity: 0;
  visibility: hidden;
}
.sidebar-mobile-off_canvas .sidebar:not(.active) ~ .et-close-sidebar:before,
.sidebar-off_canvas .sidebar:not(.active) ~ .et-close-sidebar:before,
.sidebar-mobile-off_canvas .sidebar:not(.active) ~ .et-close-sidebar:after,
.sidebar-off_canvas .sidebar:not(.active) ~ .et-close-sidebar:after {
  opacity: 0 !important;
  visibility: hidden !important;
}
.off-canvas-sidebar-opened #header.sticky-on:not([data-type="sticky"]) > [class*=header-wrapper],
.off-canvas-sidebar-opened #header > [class*=header-wrapper] .sticky-on > div {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.et-toggle-mob-sidebars-inner .et-toggle {
  border: 1px solid var(--et_border-color);
  border-left: none;
}
.et-toggle-mob-sidebars-inner.et-content-right {
  right: 0;
}
.et-toggle-mob-sidebars-inner.et-content-right .et-toggle {
  border-radius: 50% 0 0 50%;
  -webkit-animation: et-rtl 1s, fade 0.7s;
          animation: et-rtl 1s, fade 0.7s;
}
.et-toggle-mob-sidebars-inner.et-content-left {
  left: 0;
}
.et-toggle-mob-sidebars-inner.et-content-left .et-toggle {
  border-radius: 0 50% 50% 0;
  -webkit-animation: et-ltr 1s, fade 0.7s;
          animation: et-ltr 1s, fade 0.7s;
}
.et-close-sidebar {
  left: 309px;
}
.et-close-sidebar:after {
  right: 0;
}
.sidebar.et-mini-content.et-content-right {
  right: 0;
}
.sidebar.et-mini-content.et-content-right:not(.active) {
  margin-right: -20px;
}
.sidebar.et-mini-content.et-content-left {
  left: 0;
}
.sidebar.et-mini-content.et-content-left:not(.active) {
  margin-left: -20px;
}
