.sticky-sidebar {
  position: static;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.sticky-sidebar-loaded .sticky-sidebar {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
  }
  .sidebar:not(.et-mini-content) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sticky-sidebar {
    opacity: 1 !important;
  }
  .sidebar-mobile-top > div > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sidebar-mobile-top > div > .row .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .sidebar-mobile-top > div > .row .sidebar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
}
